<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
  <%= image_tag "sea_hero.jpg" %>
    <h1>Säl : Hydrate with the Sea</h1>
    
    <p id="notify"></p>
    <p id="total"><%= @order_count %> säl bought</p>

    <p>

        Säl is so healthy, it comes straight from the sea. Science and Scientists have determined that the more natural a beverage is, the healthier it is for you. You can't get any healthier than drinking straight from the sea. Säl comes straight from hawaiian lava runoff, mixing with glacial runoff.

    </p>
    <p><button class="btn btn-primary btn-large buy-sal">: buy säl :</button>
    </p>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Latest Features</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <%= image_tag "sea1.jpg" %>
            <div class="caption">
                <h3>Taste the Sea</h3>
                <p>Do you live in Kansas? Then you can't go taste the sea. Move or drink säl.</p>
                <p>
                    <button class="btn btn-primary buy-sal">: buy säl :</button> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <%= image_tag "sea2.jpg" %>
            <div class="caption">
                <h3>Hot Yoga</h3>
                <p>If you love hot yoga, you probably love really healthy seeming things. Like säl</p>
                <p>
                    <button class="btn btn-primary buy-sal">: buy säl :</button> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <%= image_tag "sea3.jpg" %>
            <div class="caption">
                <h3>Hawaiian Hotsprings</h3>
                <p>Säl totally comes from them. Our lawyers will challange you to prove otherwise.</p>
                <p>
                    <button class="btn btn-primary buy-sal">: buy säl :</button> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <%= image_tag "sea4.jpg" %>
            <div class="caption">
                <h3>Rehydrates you with Nature.</h3>
                <p>Nature! You've bought things for worse reasons.</p>
                <p>
                    <button class="btn btn-primary buy-sal">: buy säl :</button> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; säl</p>
        </div>
    </div>
</footer>

<%= render "layouts/modal" %>

<script>
$(function() {
  // Handler for .ready() called.
  $('.buy-sal').click(function() {
    $('#myModal').modal();
  });
});
</script>